.product_card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: var(--transitionValues);
  position: relative;
}

.product_card:hover {
  box-shadow: var(--boxShadowValues);
}

.product_card a {
  z-index: 3;
}

.stock_text_wrapper {
  background-color: rgba(225, 225, 225, 0.3);
  width: calc(100% - 32px);
  height: 40vh;
  position: absolute;
  left: 16px;
  top: 16px;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock_text {
  color: #8D8F9A;
  font-size: var(--mediumFontSize);
  text-transform: uppercase;
  position: absolute;
}

.image_link {
  display: flex;
  justify-content: center;
}

.product_image {
  height: 40vh;
  position: relative;
  align-self: center;
}

.product_image .main_image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 1.85rem;
  padding-right: 1rem;
  z-index: 5;
  width: calc(100% - 2rem);
  bottom: 5.65rem;
}

.product_info {
  padding: 1.5rem 0;
}

.product_info_notInStock {
  opacity: 0.4;
}

.product_info > * {
  font-size: var(--smallFontSize);
}

.product_price {
  margin-top: 0.45rem;
  font-weight: var(--boldWeight);
}