.product_card {
  padding: 16px;
  height: 450px;
  display: flex;
  flex-direction: column;
  transition: var(--transitionValues);
  position: relative;
}

.product_card:hover {
  box-shadow: var(--boxShadowValues);
}

.product_card a {
  z-index: 3;
}

.not_in_stock {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.stock_text_wrapper {
  background-color: rgba(225, 225, 225, 0.3);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock_text {
  color: #8D8F9A;
  font-size: var(--mediumFontSize);
  text-transform: uppercase;
  position: absolute;
}

.product_image {
  min-height: 338px;
  min-width: auto;
  position: relative;
}

.product_image .main_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 1.85rem;
  padding-right: 1rem;
  z-index: 5;
}

.product_info {
  padding: 1.5rem 0;
}

.product_info > * {
  font-size: var(--smallFontSize);
}

.product_price {
  margin-top: 0.45rem;
  font-weight: var(--boldWeight);
}