.cart_item_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--greyColor);
  padding: 1.25rem 0;
}

.cart_item_mini {
  padding-bottom: 0;
  border: none;
}

.cart_item_mini:last-of-type {
  padding-bottom: 1.25rem;
}

.item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}

.brand {
  font-weight: var(--boldWeight);
  font-size: var(--largeFontSize);
}
.brand_mini {
  font-size: var(--smallFontSize);
}

.name {
  font-size: var(--largeFontSize);
}
.name_mini {
  font-size: var(--smallFontSize);
}

.price {
  font-weight: var(--boldWeight);
  font-size: var(--mediumFontSize);
}
.price_mini {
  font-weight: var(--boldWeight);
  font-size: var(--smallFontSize);
}

.item_controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.gallery_container {
  height: 185px;
}
.gallery_container_mini {
  height: 137px;
}

.product_image {
  width: 140px;
  height: 100%;
  object-fit: cover;
}
.product_image_mini {
  width: 105px;
  height: 100%;
  object-fit: cover;
}

.gallery_overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 60%;
}

.chevron {
  padding: 0.1rem;
  box-shadow: var(--boxShadowValues);
  border: 3px solid transparent;
  transition: var(--transitionValues);
}

.chevron:hover {
  background-color: rgba(229,229,299, 0.6);
  cursor: pointer;
  box-shadow: var(--boxShadowValues);
}