.mini_cart_overlay {
  box-shadow: var(--boxShadowValues);
  background-color: var(--lightColor);
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 1.8rem 0 0 -18rem;
  padding: 1.25rem;
  z-index: 5;
  min-width: 400px;
}

@media (max-width:1300px) {
  .mini_cart_overlay {
    margin-left: -20rem;
  }
}

.mini_cart_header {
  margin-bottom: 1.25rem;
}

.mini_cart_items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  scrollbar-width: thin;
  max-height: 600px;
  padding-right: 0.5rem;
  overflow: hidden;
}

.mini_cart_items:hover {
  padding-right: 0;
  overflow-y: scroll;
}

.mini_cart_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.mini_cart_btns {
  display: flex;
  gap: 0.8rem;
}

.mini_cart_btns button {
  font-size: 14px;
}

.mini_cart_btns a, .mini_cart_btns button:last-of-type {
  flex: 1;
}

