.nav_currency {
  cursor: pointer;
  width: 3rem;
  text-align: right;
}

.nav_currency img {
  transition: var(--transitionValues);
}

.nav_currency p {
  display: inline;
  padding-right: 0.5rem;
  font-size: var(--smallFontSize);
}

.currency_overlay_wrapper {
  box-shadow: var(--boxShadowValues);
  background-color: var(--lightColor);
  position: absolute;
  margin-top: 1rem;
  list-style-type: none;
  text-align: left;
  z-index: 5;
}

.currency_overlay_wrapper li {
  padding: 1rem 2rem 1rem 1rem;
  transition: var(--transitionValues);
}

.currency_overlay_wrapper li:hover {
  background-color: var(--accentColor);
  color: var(--lightColor);
}