.nav_cart {
  cursor: pointer;
  padding: 0 1.25rem;
  position: relative;
}

.quantity_bubble {
  background-color: var(--darkColor);
  color: var(--lightColor);
  border-radius: 60px;
  padding: 1.6px 6px;
  font-family: var(--secondaryFont);
  font-size: 14px;
  font-weight: var(--extraBoldWeight);
  line-height: 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 55%;
  left: 55%;
}