.attribute_selector {
  width: 100%;
}

.attribute {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.attribute:last-of-type {
  margin-bottom: 2rem;
}

.attribute:last-child {
  margin-bottom: 1.25rem;
}

.attribute_name {
  margin-bottom: 0.5rem;
}
