.attribute_selector {
  width: 100%;
}

.attribute {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.attribute:last-of-type {
  margin-bottom: 2rem;
}

.attribute:last-child {
  margin-bottom: 1.25rem;
}

.attribute_name_wrapper {
  margin-bottom: 0.5rem;
}

.attribute_name_wrapper > h4 {
  font-size: var(--smallFontSize);
  font-family: var(--condensedFont);
  font-weight: var(--extraBoldWeight);
  line-height: 18px;
  text-transform: uppercase;
}

/* Overlay styles in PLP */
.attribute_selector_overlay {
  background-color: rgba(166,166, 166, 0.3);
  height: 40vh;
  width: calc(100% - 32px);
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 0;
  padding: 1rem;
  z-index: 4;
}
.attribute_selector_overlay > * {
  margin: 0;
}