.gallery_side::-webkit-scrollbar {
  position: absolute;
  margin: 2rem;
}

.gallery {
  display: flex;
  height: inherit;
  width: inherit;
}

.gallery_side {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 0.95rem;
  padding-right: 0.5rem;
  min-width: 9rem;
  max-width: 9rem;
  position: relative;
  scrollbar-width: thin;
}

.gallery_side:hover {
  overflow-y: scroll;
  padding-right: 0;
}

.gallery_side .thumbnail_container {
  padding-bottom: 2rem;
  width: 100%;
  height: 9rem;
}

.gallery_side .thumbnail_container:last-child {
  padding-bottom: 0;
}

.gallery_side img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.gallery_spotlight {
  min-width: 35vw;
  height: inherit;
}

.gallery_spotlight img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}