.price_display {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.amount {
  margin-top: 1.25rem;
  font-size: var(--largeFontSize);
  font-weight: var(--boldWeight);
}