.product_desc {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2.5rem;
  min-width: 14.9rem;
  max-width: 18.825rem;
}

.product_title {
  width: 100%;
  margin-bottom: 2rem;
}

.brand {
  font-weight: var(--boldWeight);
  margin-bottom: 0.5rem;
}

.product_desc h4 {
  font-size: var(--mediumFontSize);
  text-transform: uppercase;
}

.cart_btn_wrapper {
  width: 100%;
}

.description {
  width: 100%;
  overflow: hidden;
  margin: 3rem 0;
  padding-right: 0.5rem;
  line-height: 26px;
  scrollbar-width: thin;
}

.description:hover {
  overflow-y: scroll;
  padding-right: 0;
}