.product_desc {
  height: inherit;
  min-width: 360px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-right: 0.5rem;

  scrollbar-width: thin;
  overflow: hidden;
}

.product_desc:hover {
  overflow-y: scroll;
  padding-right: 0;
}

.product_title {
  width: 100%;
  margin-bottom: 2rem;
}

.product_title > * {
  font-size: var(--largeFontSize);
}

.brand {
  font-weight: var(--boldWeight);
  margin-bottom: 0.5rem;
}

.product_desc h4 {
  font-size: var(--smallFontSize);
  font-family: var(--condensedFont);
  font-weight: var(--extraBoldWeight);
  line-height: 18px;
  text-transform: uppercase;
}

.cart_btn_wrapper {
  width: 100%;
}

.disabled_btn {
  background-color: var(--darkGreyColor);
}

.disabled_btn:hover {
  cursor: default;
  opacity: 1;
}

.description {
  font-family: var(--secondaryFont);
  width: 100%;
  margin: 3rem 0;
  line-height: 26px;
}
