.attribute_options {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.mini_options:nth-of-type(even) {
  margin: 1.25rem 0;
}

.attribute_options {
  margin-bottom: 1.25rem;
}

.mini_options:last-of-type {
  margin-bottom: 0;
}

.attribute_option {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid var(--darkColor);
  padding: 0.8rem 1.2rem;
  height: 45px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  transition: var(--transitionValues);
}

.attribute_option:hover {
  opacity: var(--hoverOpacity);
  cursor: pointer;
}

.mini_options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem
}

.mini_option {
  height: 24px;
  width: 50px;
  padding: 0;
}

.mini_option p {
  font-size: 14px;
}

.swatch {
  height: 50px;
  width: 50px;
}
.swatch_mini {
  height: 24px;
  width: 24px;
}

/* Selected Attribute Styles */
.swatch_selected {
  border: 3px solid var(--accentColor);
}
.option_selected {
  background-color: var(--darkColor);
  color: var(--lightColor);
}