.button {
  width: 100%;
  max-width: 360px;
  border-color: transparent;
  border-radius: 0.1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: var(--boldWeight);
}

.accent_btn {
  background-color: var(--accentColor);
  color: var(--lightColor);
}

.outline_btn {
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 1px solid var(--darkColor);
}