.button {
  width: 100%;
  border-color: transparent;
  border-radius: 0.1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: var(--boldWeight);
  font-size: var(--tinyFontSize);
  transition: var(--transitionValues);
}

.button:hover {
  opacity: var(--hoverOpacity);
}

.accent_btn {
  background-color: var(--accentColor);
  color: var(--lightColor);
}

.outline_btn {
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 1px solid var(--darkColor);
}