.notification_wrapper {
  position: absolute;
  top: calc(80px + 2rem);
  margin: 0 30%;
  width: 40%;
  transition: all 100ms ease-in;
  opacity: 1;
}

.hidden {
  transition: all 500ms ease-out;
  opacity: 0;
}

.notification {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--greyColor);
  border-left: 5px solid var(--accentColor);
  box-shadow: var(--boxShadowValues);
}

.notification_text {
  font-family: var(--secondaryFont);
  font-weight: var(--lightWeight);
  letter-spacing: 0.8px;
}