.quantity_control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  height: 100%;
  margin: 0 0.4rem;
}

.quantity_btn {
  padding: 0;
  background-color: var(--lightColor);
  font-family: var(--mainFont);
  font-size: var(--hugeFontSize);
  font-weight: var(--lightWeight);
  border: 1px solid var(--darkColor);
  height: 45px;
  width: 45px;
}

.quantity_btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.quantity_btn_mini {
  height: 24px;
  width: 24px;
  font-size: var(--mediumFontSize);
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-size: var(--largeFontSize);
}

.amount_mini {
  font-size: var(--tinyFontSize);
}