@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

:root {
  /* Theme Colors */
  --accentColor: #5ECE7B;
  --lightColor: #FFFFFF;
  --blackColor: #1D1F22;

  /* Font Weight */
  --boldWeight: 600;
  --regularWeight: 400;
  --lightWeight: 300;

  /* Font Size */
  --smallFontSize: 16px;
  --mediumFontSize: 18px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #1D1F22;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--accentColor);
  font-weight: var(--boldWeight);
  border-bottom: 2px solid var(--accentColor);
}

.btn {
  cursor: pointer;
}

.flip-x {
  transform: rotateX(180deg);
}

/* Page Layout */

main {
  margin: 0 10%;
}