@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

:root {
  /* Theme Colors */
  --accentColor: #5ECE7B;
  --lightColor: #FFFFFF;
  --darkColor: #1D1F22;
  --greyColor: #E5E5E5;

  /* FONT VARIABLES */
  --mainFont: 'Raleway', sans-serif;

  /* Font Weight */
  --boldWeight: 600;
  --regularWeight: 400;
  --lightWeight: 300;

  /* Font Size */
  --tinyFontSize: 16px;
  --smallFontSize: 18px;
  --mediumFontSize: 24px;
  --largeFontSize: 30px;
  --hugeFontSize: 32px;

  /* Misc */
  --boxShadowValues: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--mainFont);
  font-weight: 400;
  color: #1D1F22;

  scrollbar-width: thin;
  scrollbar-color: var(--accentColor) var(--lightColor);
}

body::-webkit-scrollbar {
  width: 11px;
  height: 25%;
  right: -1rem;
}
body::-webkit-scrollbar-track {
  background: var(--darkColor);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--darkColor) ;
  border-radius: 6px;
  border: 3px solid var(--darkColor);
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--accentColor);
  font-weight: var(--boldWeight);
  border-bottom: 2px solid var(--accentColor);
}

.btn {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.flip-x {
  transform: rotateX(180deg);
}

.flip-y {
  transform: rotateY(180deg);
}

.regularFontWeight {
  font-weight: var(--regularWeight);
}

.boldFontWeight {
  font-weight: var(--boldWeight);
}

/* Page Layout */
main {
  margin: 0 10% 3rem;
}

/* --- Color Options --- */

/* Background Color */
.accentColorBG {
  background-color: var(--accentColor);
}
.lightColorBG {
  background-color: var(--lightColor);
}
.darkColorBG {
  background-color: var(--darkColor);
}

/* Text Color */
.accentColorTxt {
  color: var(--accentColor);
}
.lightColorTxt {
  color: var(--lightColor);
}
.darkColorTxt {
  color: var(--darkColor);
}

/* Generic Classes */
/* Refactor later */
.bold-title-heading {
  font-weight: var(--boldWeight);
  font-size: var(--hugeFontSize);
  text-transform: uppercase;
  margin: 2rem 0;
}